* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.quiz-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
}






.time-left {
    color: #129f89;
    font-size: 25px;
}




#quiz-name-div {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center; 
   text-align: center;
   margin: 100px 20px;
}



.quiz-name {
    text-align: center;
    width: 200px;
    font-weight: bolder;
}

.quiz-description {
    font-weight: lighter;
}

.quiz-rules {
    font-weight: lighter;
}












#hidden-container {
    display:  none;
}
.quiz-question-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    text-align: center;
    margin: 100px 20px;
}

#hidden-container {
    display: none;
}

.quiz-score-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    text-align: center;
    margin: 100px 20px;
    

}

#hidden-score-container {
    display: none;
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    box-shadow: 5px 5px grey;
    height: 500px;
    width: 500px;
}




.buttons {
    background-color: #6c4c72;
    color: #f2edf3;
    width: 100px;
    margin: 20px;
    border-radius: 5px;
    padding: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif';
}

.buttons:hover {
    background-color: #dac700;
}

#score {
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.results {
    font-weight: bold;
    font-size: 25px;
    color: #129f89;
    text-align: center;
}


#hidden-correct {
    display: none;
}

#hidden-incorrect {
    display: none;
}

#initials {
    padding: 5px;
    margin: 10px;
}

.high-score-div {
    display: flex;
    text-align: center;
}

#hidden-high-score {
    display: none;
}


.controls {
    display: flex;
    align-items: center;
    justify-content: center;

}

#hidden-controls-container {
    display: none;
}
/* add a pseudo class for button hover */
/* #a685ad #f2edf3color for later */